@media only screen and (max-width: 1024px/*68em*/) {
  #header,
  .my-arrow {
    display: none;
  }
}
#header {
  width: 100%;
  height: 3rem;
  top: 0px;
  position: absolute;
  z-index: 999;
  padding-top: 10px;
}
#header-content {
  float: right;
}
#header-content h5 {
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
}
#header-content h5 > a {
  position: relative;
  text-decoration: none;
  color: #f0f0f0;
}
#header-content h5 > a:hover {
  color: #f0f0f0;
}
#header-content h5 > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.1rem;
  bottom: 0;
  left: 0;
  background-color: #f0f0f0;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
#header-content h5 > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.section{
  text-align:center;
}
.intro{
  color: #f0f0f0;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 3px;
}
.intro h1{
  -webkit-text-shadow: 0 .3rem .9rem rgba(0,0,0,.8);
  text-shadow: 0 .3rem 0.9rem rgba(0,0,0,.8);
  font-size: 8rem;
}
.intro h2{
  text-shadow: -1px 1px 8px rgba(0,0,0,.8);
  font-size: 6rem;
}
.intro h3{
  text-shadow: -1px 1px 8px rgba(0,0,0,.8);
  font-size: 4rem;
}
.intro h4{
  text-shadow: -1px 1px 8px rgba(0,0,0,.8);
  font-size: 2.5rem;
}
h5{
  font-family: 'Source Sans Pro', sans-serif;
  text-shadow: -1px 1px 8px rgba(0,0,0,.8);
  font-size: 1.5rem;
}
#section0 .fp-bg:before,
#section3 .fp-bg:before{
  content: '';
  position: absolute;
  display: block;
  background: rgba(173, 173, 173, 0.2);
  top:0;
  bottom:0;
  height: 100%;
  width: 100%;
}
.fp-bg{
  background-size: cover;
  transform: translate3d(0,0,0);
  -webkit-backface-visibility: hidden; /* Chrome, Safari, Opera */
  backface-visibility: hidden;
}
#section0 {
  background-image: url("../res/section0.jpg");
  background-size: cover;
  background-position: center center;
}
#section1 {
  background-image: url("../res/section1.jpg");
  background-size: cover;
  background-position: center center;
}
#section2 {
  background-image: url("../res/section2.jpg");
  background-size: cover;
  background-position: center center;
}
#section3 {
  background-image: url("../res/section3.jpg");
  background-size: cover;
  background-position: center center;
}
#section4 {
  background-image: url("../res/section4.jpg");
  background-size: cover;
  background-position: center center;
}

.my-arrow svg {
  padding: 5px;
  width: 4rem;
  height: 4rem;
}
.my-arrow {
  cursor:pointer;
  position:absolute;
  top:51.5%;
  margin-top:-45px;
  width:5rem;
  height:5rem;
  z-index:99;
  -webkit-appearance:none;
  background:0 0;
  border:0;
  outline:0;
}
.my-arrow.left {
  left:0px;
}
.my-arrow.right {
  right:1.5rem;
}
polyline {
  stroke-width:3
}
.my-arrow.left:focus polyline,.my-arrow.left:hover polyline {
  stroke-width:6
}
.my-arrow.left:active polyline {
  stroke-width:10;
  transition:all .1s ease-in-out
}
.my-arrow.right:focus polyline,.my-arrow.right:hover polyline {
  stroke-width:6
}
.my-arrow.right:active polyline {
  stroke-width:10;
  transition:all .1s ease-in-out
}
polyline {
  transition:all 250ms ease-in-out;
}
